.Rproj.user
.Rhistory
.RData
.Ruserdata

# latex auxiliary files (https://tex.stackexchange.com/questions/17845/which-auxiliary-latex-files-should-be-ignored-by-version-control-software/17852)
# endfloat
*.fff
*.ttt

# output data
analysis/figures
analysis/data/tmp_data
analysis/data/output_data

# rendered output
rendered_article
*.pdf
*.html

# rendering log files
*.log
